.container {
  max-width: 1163px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.short__link, .short__form, .hero .container, .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.short__cta, .header .container {
  display: flex;
  align-items: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Inline-block for links to use margins */
a {
  display: inline-block;
}

body {
  font-family: "poppins";
}

h1,
h2 {
  color: hsl(255deg, 11%, 22%);
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -3px;
}

h2 {
  letter-spacing: -2px;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.3125rem;
}

.btn {
  background-color: hsl(180deg, 66%, 49%);
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: background-color 200ms ease-in-out;
}
.btn:hover {
  background-color: hsl(178deg, 57%, 75%);
  cursor: pointer;
}

.btn-getStarted {
  width: 195px;
  height: 56.5px;
  font-size: 1.2rem;
  border-radius: 30px;
}

@media (max-width: 710px) {
  .btn-getStarted {
    height: 50px;
    font-size: 1.1rem;
  }
}
/* header */
.header {
  padding: 48px 0px 40px 0px;
}
.header__logo {
  margin-right: 47.5px;
}
.header__hamburgerBtn {
  display: none;
}
.header__nav {
  flex: 1;
}
.header__nav--open {
  opacity: 0;
}
.header__links {
  list-style: none;
}
.header__item {
  display: inline-block;
  margin-right: 27.5px;
}
.header__link {
  text-decoration: none;
  font-weight: 700;
  color: hsl(257deg, 7%, 63%);
  font-size: 0.95rem;
  transition: color 200ms ease-in-out;
}
.header__link:hover {
  color: hsl(257deg, 27%, 26%);
}
.header__link--login {
  margin-right: 36px;
}
.header__signup {
  width: 106px;
  height: 41px;
  border-radius: 25px;
  font-size: 0.95rem;
}
@media (max-width: 800px) {
  .header .container {
    justify-content: space-between;
    position: relative;
  }
  .header__hamburgerBtn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    color: hsl(257deg, 7%, 63%);
  }
  .header__nav {
    position: absolute;
    background-color: hsl(257deg, 27%, 26%);
    flex-direction: column;
    visibility: hidden;
    right: 24px;
    left: 24px;
    top: 57.5px;
    z-index: -1;
    padding: 40px 23px 30px 23px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  .header__nav--open {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
  .header__links {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid hsl(256deg, 18%, 35%);
    margin-bottom: 40px;
  }
  .header__item {
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__link {
    color: hsl(0deg, 0%, 100%);
    font-size: 1.1rem;
    transition: color 200ms ease-in-out;
    display: block;
  }
  .header__link:hover {
    color: hsl(180deg, 66%, 49%);
  }
  .header__link--login {
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__cta {
    width: 100%;
    text-align: center;
  }
  .header__signup {
    max-width: 250px;
    width: 100%;
  }
}

/* hero */
.hero {
  padding: 40px 0px 150px 0px;
}
.hero .container {
  position: relative;
  min-height: 480px;
}
.hero__text {
  max-width: 560px;
}
.hero__heading {
  margin-bottom: 5px;
}
.hero__paragraph {
  color: hsl(257deg, 7%, 63%);
  font-size: 1.325rem;
  line-height: 1.6;
  margin-bottom: 30px;
}
.hero__background {
  max-height: 480px;
  position: absolute;
  top: 0;
  right: -275px;
}
.hero__img {
  max-width: initial;
}
@media (max-width: 1260px) {
  .hero__heading {
    font-size: 4rem;
  }
  .hero__paragraph {
    font-size: 1.2rem;
  }
  .hero__background {
    right: -220px;
  }
}
@media (max-width: 1135px) {
  .hero {
    padding: 30px 0px 140px 0px;
  }
  .hero .container {
    flex-direction: column;
  }
  .hero__text {
    order: 2;
    text-align: center;
    max-width: 650px;
  }
  .hero__heading {
    font-size: 3.2rem;
    margin-bottom: 10px;
  }
  .hero__paragraph {
    font-size: 1.1rem;
  }
  .hero__background {
    order: 1;
    position: static;
    margin-bottom: 40px;
  }
  .hero__img {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .hero {
    padding: 10px 0px 170px 0px;
  }
  .hero__heading {
    font-size: 2.425rem;
    line-height: 1.25;
    margin-bottom: 10px;
  }
  .hero__paragraph {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .hero__background {
    position: relative;
    height: 89.5vw;
    max-height: 500px;
    right: -80px;
    margin-bottom: 25px;
  }
  .hero__img {
    max-width: initial;
    height: 100%;
    right: -10px;
  }
}

.short {
  background-color: hsl(230deg, 23%, 95%);
  padding: 110px 0px 62.5px 0px;
}
.short .container {
  position: relative;
}
.short__form {
  background-color: hsl(257deg, 27%, 26%);
  background-image: url("../../../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 65px;
  border-radius: 10px;
  position: absolute;
  width: calc(100% - 48px);
  top: -190px;
}
.short__input, .short__submit {
  height: 65px;
}
.short__input {
  flex: 1;
  padding: 3px 30px 0px;
  border-radius: 11px;
  border: none;
  outline: none;
  color: hsl(257deg, 27%, 26%);
  font-size: 1.2rem;
}
.short__input::-moz-placeholder {
  color: hsl(257deg, 7%, 63%);
}
.short__input:-ms-input-placeholder {
  color: hsl(257deg, 7%, 63%);
}
.short__input::placeholder {
  color: hsl(257deg, 7%, 63%);
}
.short__input:focus {
  outline: 3px solid hsl(180deg, 66%, 49%);
}
.short__input--error {
  border: 3px solid hsl(0deg, 87%, 67%);
}
.short__input--error::-moz-placeholder {
  color: hsl(3deg, 54%, 81%);
}
.short__input--error:-ms-input-placeholder {
  color: hsl(3deg, 54%, 81%);
}
.short__input--error::placeholder {
  color: hsl(3deg, 54%, 81%);
}
.short__input--error:focus {
  outline: none;
}
.short__input--error + .short__error {
  display: block;
}
.short__error {
  position: absolute;
  bottom: 16px;
  font-style: italic;
  color: hsl(348deg, 41%, 60%);
  font-size: 1rem;
  display: none;
}
.short__submit {
  margin-left: 25px;
  width: 190px;
  border-radius: 11px;
  font-size: 1.2rem;
}
.short__link {
  background-color: hsl(0deg, 0%, 100%);
  padding: 15px 25px 14.5px 30px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.short__link:last-of-type {
  margin-bottom: 0px;
}
.short__linkText, .short__shortened {
  font-size: 1.245rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.short__linkText {
  max-width: 350px;
}
.short__shortened {
  color: hsl(180deg, 66%, 49%);
  margin-right: 25px;
  max-width: 220px;
}
.short__copy {
  width: 102.5px;
  height: 40px;
  border-radius: 5px;
}
.short__copy--copied {
  background-color: hsl(257deg, 27%, 26%);
}
.short__copy--copied:hover {
  background-color: hsl(257deg, 27%, 26%);
}
@media (max-width: 1000px) {
  .short__form {
    padding: 45px;
  }
  .short__input {
    font-size: 1.1rem;
  }
}
@media (max-width: 900px) {
  .short {
    padding: 80px 0px 60px 0px;
  }
  .short__form {
    padding: 35px;
    top: -150px;
  }
  .short__input, .short__submit {
    height: 56.5px;
  }
  .short__error {
    bottom: 10px;
  }
  .short__submit {
    font-size: 1.2rem;
  }
  .short__link {
    flex-direction: column;
    align-items: stretch;
    padding: 22.5px;
  }
  .short__linkText {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    border-bottom: 2px solid hsl(230deg, 23%, 95%);
  }
  .short__cta {
    justify-content: space-between;
  }
  .short__copy {
    width: 170px;
  }
}
@media (max-width: 750px) {
  .short {
    padding: 100px 0px 60px 0px;
  }
  .short__form {
    flex-direction: column;
    align-items: stretch;
    justify-content: initial;
    background-image: url("../../../images/bg-shorten-mobile.svg");
    background-size: initial;
    background-position: top right;
    top: -185.5px;
    padding: 20px;
  }
  .short__input, .short__submit {
    flex-basis: 49px;
    border-radius: 5px;
    width: 100%;
    margin-left: 0;
  }
  .short__input {
    margin-bottom: 25px;
    padding-left: 15px;
    font-size: 1rem;
  }
  .short__error {
    bottom: 88.5px;
    font-size: 0.895rem;
  }
  .short__submit {
    font-size: 0.975rem;
  }
  .short__link {
    padding: 16px 22px;
  }
  .short__linkText {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .short__linkText, .short__shortened {
    font-size: 1rem;
  }
  .short__cta {
    flex-direction: column;
    align-items: stretch;
  }
  .short__shortened {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 15px 0px;
  }
  .short__copy {
    width: 100%;
    font-size: 1rem;
  }
}