/* hero */
.hero {
	padding: 40px 0px 150px 0px;

	.container {
		@extend %flex-ac-jsb;
		position: relative;
		min-height: 480px;
	}

	&__text {
		max-width: 560px;
	}

	&__heading {
		margin-bottom: 5px;
	}

	&__paragraph {
		color: $grayish-violet;
		font-size: 1.325rem;
		line-height: 1.6;
		margin-bottom: 30px;
	}

	&__background {
		max-height: 480px;
		position: absolute;
		top: 0;
		right: -275px;
	}

	&__img {
		max-width: initial;
	}

	// resposive media
	@include max(1260px) {
		&__heading {
			font-size: 4rem;
		}

		&__paragraph {
			font-size: 1.2rem;
		}

		&__background {
			right: -220px;
		}
	}

	@include max(1135px) {
		padding: 30px 0px 140px 0px;

		.container {
			flex-direction: column;
		}

		&__text {
			order: 2;
			text-align: center;
			max-width: 650px;
		}

		&__heading {
			font-size: 3.2rem;
			margin-bottom: 10px;
		}

		&__paragraph {
			font-size: 1.1rem;
		}

		&__background {
			order: 1;
			position: static;
			margin-bottom: 40px;
		}

		&__img {
			max-width: 100%;
		}
	}

	@include max(800px) {
		padding: 10px 0px 170px 0px;

		&__heading {
			font-size: 2.425rem;
			line-height: 1.25;
			margin-bottom: 10px;
		}

		&__paragraph {
			font-size: 1rem;
			margin-bottom: 15px;
		} 


		&__background {
			position: relative;
			height: 89.5vw;
			max-height: 500px;
			right: -80px;
			margin-bottom: 25px;
		}

		&__img {
			max-width: initial;
			height: 100%;
			right: -10px;
		}
	}
}
