// colors
$white: hsl(0, 0%, 100%);
$light-gray : hsl(230, 23%, 95%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$cyan: hsl(180, 66%, 49%);
$light-cyan: hsl(178deg 57% 75%);
$red: hsl(0, 87%, 67%);
$light-red: hsl(348deg 41% 60%);
$very-light-red: hsl(3deg 54% 81%);
$light-violet: hsl(256, 18%, 35%);
$dark-violet: hsl(257, 27%, 26%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

// transitions
$background-transition: background-color 200ms ease-in-out;
$color-transition: color 200ms ease-in-out;
$opacity-transition: opacity 300ms ease-in-out;
